body {
  font: 100% Helvetica, sans-serif;
  color: #333;
  margin: 0px;
  display: grid;
  grid-template-rows: 100px auto; }

.editor h1, .editor a {
  margin: 1px; }
  .editor h1:hover, .editor a:hover {
    border: dotted 1px red;
    border-style: dashed dotted;
    margin: 0px; }

.editor div, .editor section, .editor p, .editor blockquote {
  border: dotted 1px gray;
  margin: 0px; }
  .editor div:hover, .editor section:hover, .editor p:hover, .editor blockquote:hover {
    border: dotted 1px red; }
